{
  "plugins": [
    "simple-import-sort",
    "@typescript-eslint"
  ],
  "extends": [
    "next/core-web-vitals",
    "plugin:jsx-a11y/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:react-hooks/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/no-empty-interface": "warn",
    "@typescript-eslint/ban-ts-comment": "warn",
    "prettier/prettier": [
      "warn",
      {
        "arrowParens": "always",
        "singleQuote": true,
        "tabWidth": 2,
        "semi": false,
        "printWidth": 80,
        "useTabs": false
      }
    ]
  }
}
